.card {
    background-color: var(--night);
    border: dashed 3px var(--silver); 
    border-radius: 0.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    overflow-wrap: break-word;
}

.card-title {
    font-size: 2.1rem;
    padding: 0 1em;
}

.card-description {
    padding: 1em 1em;
}

.card-remove {
    display: block;
    background-color: var(--red);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
}